@use "../global/variables" as *;
@use "../global/mixins" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &--active {
    opacity: 1;
    pointer-events: all;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color-black, 0.5);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: $color-white;
    border-radius: 12px;
    padding: 40px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.2);
    transform: scale(0.9);
    transition: transform 0.3s ease;
  }

  &--active &__content {
    transform: scale(1);
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity $transition;

    &:hover {
      opacity: 0.7;
    }
  }

  &__icon {
    margin: 0 auto 24px;
    width: 60px;
    height: 60px;
  }

  &__message {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 32px;
    color: $color-black;
  }

  &__btn {
    min-width: 200px;
  }
}