@use "../global/variables" as *;
@use "../global/mixins" as *;

.tooltip {
  &__btn {
    background-color: $color-white;
    border: 1px solid $color-black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    cursor: pointer;
    transition: border-color $transition, background-color $transition;

    &:hover {
      background-color: $color-granny-smith-apple;
      border-color: $color-granny-smith-apple;
    }
  }

  &__content {
    position: absolute;
    min-width: 208px;
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 10px 60px 0 #4848481A;
    padding: 16px 8px;
    top: 0;
    right: 0;
    transform: translate(9px, calc(-100% - 8px));

    display: none;
  }

  &__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.2px;
  }

  &__list {
    margin: 8px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__item {
    position: relative;
    padding: 0 0 0 16px;

    &::before {
      content: "";
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: $color-granny-smith-apple;
      position: absolute;
      left: 0;
      top: calc(50% - 3px);
    }
  }
}

// Кастомные стили для Tippy.js
.tippy-box[data-theme~='light'] {
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: 0 10px 60px 0 rgba(72, 72, 72, 0.1);
  padding: 16px 8px;
  font-size: 12px;
  line-height: 13.2px;

  .tippy-content {
    padding: 0;
  }

  .tippy-arrow {
    color: $color-white;
  }

  .tooltip__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.2px;
    color: $color-black;
  }

  .tooltip__list {
    margin: 8px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .tooltip__item {
    position: relative;
    padding: 0 0 0 16px;
    color: $color-black;

    &::before {
      content: "";
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: $color-granny-smith-apple;
      position: absolute;
      left: 0;
      top: calc(50% - 3px);
    }
  }

  .tooltip__count {
    font-weight: 500;
  }
}
